body,html 
{
    margin:0;
}
body 
{
    height: 100vh;
    width:100vw;
    display: flex;
justify-content: center;
align-items: center;
}
#main 
{
background-color: magenta;
font-size: 300%;
color:white;
padding: 20px;
border-radius: 50%;
height: 50vh;
width: 50vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#main>button,#main>input 
{
font-size: 75%;
} 
#answer 
{
margin-top: 30px;
margin-bottom: 30px;
}